<aw-carrousel [images]="slides"></aw-carrousel>

<div class="container">
    <h1 #pageTitle>Angular</h1>

    <aw-tags [max]="5"></aw-tags>
    <aw-blog></aw-blog>

    <div class="cards">
        <aw-card title="Titre 1">
            <header>
                <h3>Article 1</h3>
            </header>
            
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit, totam.</p>
        
            <footer>
                <h3>
                    Conclusion 1
                </h3>
            </footer>
        </aw-card>


        <aw-card title="Titre 2">
            <img src='http://unsplash.it/300?random' alt=''/>
        </aw-card>

        <aw-card title="Titre 2">
            <img src='http://unsplash.it/300?random' alt=''/>
        </aw-card>
    </div>
</div>


<aw-panel>
    <aw-tab name="Tab 1" [selected]="true">Mon content 1</aw-tab>
    <aw-tab name="Tab 2">Mon content 2</aw-tab>
    <aw-tab name="Tab 3">Mon content 3</aw-tab>
</aw-panel>